.container{
    height: 647px;
    display: grid;
    grid-template-columns: 20% auto ;
    grid-template-rows: 20% 60% 20% ;
    text-align: center;
    background: green; 
    justify-content: stretch;

}

.header{
    background-color: blue;
    border: solid black 1px;
    grid-column: 1 / span 2;
}

.main{
    background-color: violet;
    display: grid;
}

.aside{
    background-color: brown;
    border: solid black 1px;
    
}

.footer{
    background-color: orange;
    border: solid black 1px;
    grid-column: 1 / span 2
}
